<% provide(:title, "Users") %>
<section id="users-all" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<% @users.each do |user| %>
			    <li><%= link_to user_path(user), title: user.fullname do %><img class="user-avatar user-avatar-thumb" src="<%= user.avatarurl %>" /><%= user.fullname %><% end %></li>
			    <% end %>
				</ul>
			</div>
		</div>
	</div>
</section>