<form class="search-input-form" action="<%= search_path %>" method="GET">
  <input type="search" id="q" name="q" placeholder="Search: ex. byob Lakeview" required="required" value="<%= params[:q] %>" autofocus>
  <button type="submit"><%= inline_icon('search', '', '') %></button>
</form>
