<section id="home-main">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<%= form_tag venues_path, :method => 'get' do %>
					<h2 class="text-center">I would like...</h2>
					<%= text_field_tag :q, params[:q], { :class => 'form-control input-lg input-huge', :placeholder => 'mexican byob wicker park', :autofocus => true } %>
				<% end %>
				<hr>
				<h3 class="text-center">Full List</h3>
				<div class="row">
					<div class="col-sm-6">
						<a href="/venuetypes/1" class="btn btn-lg btn-block btn-success"><i class="fa fa-cutlery left"></i>Food</a>
					</div>
					<div class="col-sm-6">
						<a href="/venuetypes/2" class="btn btn-lg btn-block btn-success"><i class="fa fa-beer left"></i>Drink</a>
					</div>
				</div>
				<hr>
				<%= link_to new_venue_path, { :class => 'btn btn-lg btn-block btn-success' } do %><i class="fa fa-plus left"></i>Add a new Venue<% end %>
				<p><%= link_to 'Neighborhoods', neighborhoods_path %></p>
			</div>
		</div>
	</div>
</section>