<% provide(:title, "New Venue") %>
<section id="venue-new" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>New Venue</h1>
				<%= render 'form' %>
				<%= link_to 'Show', @venue %> | <%= link_to 'Back', venues_path %>
			</div>
		</div>
	</div>
</section>

<script>
jQuery(document).ready(function($) {

	$('input#venue_name').on('input',function(e) {
		if ($(this).val().length > 2) {
			$('#search-results').removeClass('hidden');
			$('#search-results').html('<ul class="venue-name-search-results"></ul>');
			$.ajax('/venues_controller/new_venue_search_display', {
				type: 'GET',
				dataType: 'script',
				data: {
					q: $(this).val()
				}
			});
		} else {
			$('#search-results').addClass('hidden');
		}
	});

});
</script>
