<% provide(:title, "New Tag") %>
<section id="tag-new" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>New Tag</h1>
				<%= render 'form' %>
				<%= link_to 'Back', tag_path %>
			</div>
		</div>
	</div>
</section>
