<section id="venuetype-edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Editing <%= @venuetype.name %></h1>
				<%= render 'form' %>
				<%= link_to 'Show', @venuetype %> |
				<%= link_to 'Back', venuetypes_path %>
			</div>
		</div>
	</div>
</section>

