<section id="venuetype-edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Editing <%= @venuetype.name %></h1>
				<%= render 'form' %>
				<%= link_to @venuetype, title: 'Show', class: 'btn btn-primary' do %><i class="fa fa-undo left"></i>Show<% end %>&nbsp;<%= link_to venuetype_path(@venuetype), title: 'Delete', method: :delete, data: { confirm: "Are you sure you would like to delete #{@venuetype.name}?" }, class: 'btn btn-danger' do %><i class="fa fa-trash-o left"></i>Delete<% end %>
			</div>
		</div>
	</div>
</section>

