<section id="venuetype" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Venue Types</h2>
				<ul class="cols2">
					<% @venuetypes.each do |venuetype| %>
		      <li><%= link_to venuetype, title: venuetype.name do %><%= venuetype.name %><% end %></li>
		      <% end %>
	      </ul>
	      <hr>
	      <%= link_to new_venuetype_path, :class => 'btn btn-success' do %><i class="fa fa-plus left"></i>New Venue Type<% end %>
			</div>
		</div>
	</div>
</section>