<section id="venuetype">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Venue Types</h2>
				<% @venuetypes.each do |venuetype| %>
	      <div>
	      <%= link_to venuetype do %><%= pluralize_without_count(2, venuetype.name) %><% end %></td>
	      </div>
	    <% end %>
	    <%= link_to 'New Venuetype', new_venuetype_path %>
			</div>
		</div>
	</div>
</section>