html,
body {
	font-size: $font-size-base;
	font-family: $font-main;
}

body {
	background: $turqoise;
}

main {

	padding: 0px 1rem 1rem;
	background: $white;

	.welcome-index &,
	.users-show & {
		padding-top: 1rem;
	}

	@media screen and (min-width: $pure-grid-sm + ($font-size-base-rem * 2)) {
		padding-left: 0px;
		padding-right: 0px;
	}

	a {
		color: $turqoise;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {

	small {

		color: $grey;

		@media screen and (max-width: $pure-grid-sm-px - 1) {
			display: block;
		}

	}

}

hr {
	margin: 1rem 0px;
	height: 1px;
	background: transparentize($grey, 0.5);
	border: 0px;
}

.pure-g {

  position: relative;

	@media screen and (min-width: $pure-grid-sm) {
    margin: 0px auto;
    max-width: $pure-grid-sm - 2rem;
  }

  @media screen and (min-width: $pure-grid-md) {
    max-width: $pure-grid-md - 2rem;
  }

  @media screen and (min-width: $pure-grid-lg) {
    max-width: $pure-grid-lg - 2rem;
  }

	@media screen and (min-width: $pure-grid-xl) {
    max-width: $pure-grid-xl - 2rem;
  }

}

svg.icon {

	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	stroke: $black;

	path,
	circle,
	polyline,
	line {
		stroke: $black;
	}

	.btn & {

		stroke: $white;

		path,
		circle,
		polyline,
		line {
			stroke: $white;
		}

	}

	&.right {
		margin-left: 0.5em;
	}

	&.left {
		margin-right: 0.25em;
	}

	&.green {

		path,
		circle,
		polyline,
		line {
			stroke: $green;
		}

	}

	&.red {

		path,
		circle,
		polyline,
		line {
			stroke: $red;
		}

	}

	&-star {

		&.fill {

			polygon {
				fill: $black;
			}

		}

	}

	&-spoon-fork {

		path {

			fill: $black;

			.btn & {
				fill: $white;
			}

		}

	}

}

img {

	max-width: 100%;

	.map & {
		max-width: none;
	}

	&.user-avatar {
		vertical-align: middle;
		border-radius: 50%;
	}

	&.user-avatar-med {
		font-size: 80px;
		max-height: 1em;
		margin-right: 0.2em;
	}

	&.user-avatar-thumb {
		font-size: 28px;
		max-height: 1em;
		margin-right: 0.3em;
	}

}

a {

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

nav {

  ul {

    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {

      @media screen and (min-width: $pure-grid-breakpoint) {
        display: inline-block;
        vertical-align: middle;
      }

    }

  }

}

header {

	padding: 0.5rem 1rem;
	color: $white;
	background: $red;

	.icon {

		stroke: $white;

		path,
		circle,
		polyline,
		line {
			stroke: $white;
		}

	}

	@media screen and (min-width: $pure-grid-breakpoint) {
		padding: 1rem;
	}

	a {
		color: $white;
	}

	.header-main {

		position: relative;

		@media screen and (min-width: $pure-grid-breakpoint) {
			display: inline-block;
			width: 30%;
		}

	}

	.logo {

    &:hover {

      svg {

				.steam {

					animation: fadeInOut 2200ms infinite;

					&.steam-right {
						animation-delay: 800ms;
					}

					&.steam-left {
						animation-delay: 350ms;
					}

				}

      }

    }

		svg {

			display: inline-block;
      vertical-align: middle;
			width: 43px;
			height: 28px;
			margin-right: 0.75em;
      transition: all 200ms;

			path {

				fill: $white;

				&.steam {
					stroke-dasharray: 200;
					stroke-dashoffset: 200;
				}

			}

		}

	}

	.nav-toggle {

    display: block;
    position: absolute;
    top: 50%;
    right: -0.25rem;
    transform: translate(0px, -50%);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width: 2rem;
    height: 2rem;
    background: none;
    font-size: 0px;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: 0px;
    cursor: pointer;

    @media screen and (min-width: $pure-grid-breakpoint) {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.active {

      span {

        background: none;

        &:before,
        &:after {
          transition-delay: 0s, 0.3s;
        }

        &:before {
          top: 0px;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0px;
          transform: rotate(-45deg);
        }

      }

    }

    span {

      top: 50%;
      transform: translate(0px, -50%);
      left: 0.25rem;
      right: 0.25rem;
      transition: background 0s 0.3s;

      &,
      &:before,
      &:after {
        position: absolute;
        display: block;
        height: 0.125rem;
        background: $white;
      }

      &:before,
      &:after {
        content: '';
        left: 0;
        width: 100%;
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
      }

      &:before {
        top: -0.375rem;
        transition-property: top, transform;
      }

      &:after {
        bottom: -0.375rem;
        transition-property: bottom, transform;
      }

    }

  }

  nav {

		display: none;

		@media screen and (min-width: $pure-grid-breakpoint) {
			display: inline-block;
			width: 70%;
			text-align: right;
		}

    ul {

			margin-top: 2rem;

      @media screen and (min-width: $pure-grid-breakpoint) {
        margin-top: 0px;
      }

			li {

				margin: 1rem 0px;

				@media screen and (min-width: $pure-grid-breakpoint) {

					margin: 0px;
          font-size: 0.875rem;

					&:not(:first-child) {
						margin-left: 1em;
					}

				}

			}

		}

  }

}

.btn {

	@extend .pure-button;
	border-radius: $border-radius;
	color: $white;

	&:hover {
		text-decoration: none;
	}

	&-sm {
		font-size: 85%;
	}

	&-group {

		@extend .pure-button-group;

		.btn {

			&:first-child {
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}

			&:last-child {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}

		}

	}

	&-block {
		display: block;
	}

	&-primary {
		color: $white;
		background: $orange;
	}

	&-success {
		color: $white;
		background: $green;
	}

	&-warning {

		color: $black;
		background: $yellow;

		svg.icon {

			path,
			circle,
			line {
				stroke: $black;
			}

		}

	}

	&-danger {
		color: $white;
		background: $red;
	}

	&-info {
		color: $white;
		background: $blue;
	}

}

%btn-lg {
	padding: 1rem 1.5rem;
	font-weight: bold;
	border-radius: $border-radius * 1.25;
}

%btn-sm {
	padding: 0.375rem 0.675rem;
	font-size: 0.75em;
	border-radius: $border-radius * 0.75;
}

table {

	width: 100%;
	max-width: 100%;
	font-size: 0.75rem;

	@media screen and (min-width: $pure-grid-sm) {
		font-size: 0.875rem;
	}

	th,
	td {

		padding: 0.5rem 0.75rem;

		@media screen and (min-width: $pure-grid-sm) {
			padding: 0.375rem 0.75rem;
		}

	}

	tbody tr {

		transition: all 300ms;

		&:hover,
		&:nth-child(even):hover {
			background: transparentize($grey, 0.75);
		}

		&:nth-child(even) {
			background: transparentize($grey, 0.9);
		}

	}

	@media screen and (max-width: $pure-grid-sm-px - 1) {

		.col {

			&-neighborhood {
				display: none;
			}

		}

	}

	@media screen and (max-width: $pure-grid-md-px - 1) {

		.col {

			&-byob,
			&-rating {
				display: none;
			}

		}

		.tries-index & {

			.col {

				&-neighborhood,
				&-date {
					display: none;
				}

			}

		}

		.ratings-index &,
		.item_ratings-index & {

			.col {

				&-rating {
					display: table-cell;
				}

				&-date {
					display: none;
				}

			}

		}

	}

	.col {

		&-price {
			text-align: center;
			font-weight: bold;
		}

		&-byob,
		&-rating,
		&-date,
		&-delete,
		&-venue-count {
			text-align: center;
		}

	}

	.dash {
		opacity: 0.25;
	}

}

.welcome-index {

	.welcome-message {
		padding-bottom: 1rem;
		text-align: center;
	}

	h4 {
		text-align: center;
	}

	.search-input-form {
		margin: 1rem 0px;
	}

	.btn {
		@extend %btn-lg;
	}

	.all-restaurants {

		margin-bottom: 1rem;

		@media screen and (min-width: $pure-grid-md) {
			margin-bottom: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}

	}

	.all-bars {

		@media screen and (min-width: $pure-grid-md) {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

	}

	.venue-types-list {
		margin-bottom: 2rem;
	}

}

.map {

	margin-top: 1rem;
	width: 100%;
	min-height: 200px;

	@media screen and (min-width: $pure-grid-md) {
		margin-top: 0px;
	}

	&.map-neighborhood,
	&.map-tries,
	&.map-search {
		height: 400px;
	}

	&.map-all {

		height: 600px;

		&.map-neighborhood {
			height: 400px;
		}

	}

	&.map-list {
		height: 400px;
	}

	.map-infowindow {
		font-weight: bold;
		text-align: center;
	}

}

form {

	@extend .pure-form;

	.form-group {

		margin-bottom: 1rem;

		&-multiple-options label {
			display: inline-block;
			margin-bottom: 0px;
		}

	}

	label {
		display: block;
		margin-bottom: 0.5rem;
		font-weight: bold;
	}

	textarea,
	input,
	select {
		display: block;
		width: 100%;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}

	input[type="search"] {
		-webkit-appearance: none;
	}

	textarea {
		min-height: 4rem;
		resize: vertical;
	}

}

.map-filters {

	margin-top: 1rem;

	@media screen and (min-width: $pure-grid-breakpoint) {
		margin-bottom: 1rem;
	}

	.icon-circle {
		display: none;
	}

	.btn {

		display: block;
		margin-bottom: 1rem;
		font-size: 75%;

		@media screen and (min-width: $pure-grid-breakpoint) {
			display: inline-block;
			margin-bottom: 0px;
		}

		@media screen and (min-width: $pure-grid-lg) {
			font-size: 100%;
		}

		&-danger {

			$btn-color: lighten($black, 25%);

			color: $btn-color;
			background-color: transparentize($red, 0.75);

			&:hover {
				background-color: transparentize($red, 0.65);
			}

			svg {

				path,
				circle,
				line {
					stroke: $btn-color;
				}

			}

		}

		&-group {

			display: flex;
			margin-bottom: 1rem;

			.btn {
				display: inline-block;
				margin-bottom: 0px;
				width: 25%;
				border-right: 0px;
			}

			&-thirds .btn {

				width: percentage(1/3);

				@media screen and (max-width: $pure-grid-sm-px - 1) {

					.icon.left {
						display: none;
					}

				}

			}

			@media screen and (min-width: $pure-grid-breakpoint) {

				position: relative;
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0px;
				word-spacing: 0px;

				.btn {
					width: auto;
				}

			}

		}

	}

	a.isHidden {

		.icon-check {
			display: none;
		}

		.icon-circle {
			display: inline-block;
		}

	}

}

.sortablecol {

	&.current.desc .icon.icon-chevron-down {
		display: inline-block;
	}

	&.current.asc .icon.icon-chevron-up {
		display: inline-block;
	}

	.icon {
		display: none;
	}

}

.pagination-list {

	list-style-type: none;
	margin: 1rem 0px;;
	padding: 0px;
	text-align: center;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0px 0.25rem;
	}

}

footer {

	padding: 1rem 0px;
	text-align: center;

	&,
	a {
		color: $white;
	}

	li {

		&:not(:last-child) {

			margin-bottom: 1rem;

			@media screen and (min-width: $pure-grid-breakpoint) {

				margin-bottom: 0px;

				&:after {
					content: '\2022';
					margin: 0px 0.5em;
				}

			}

		}

	}

	.footer-fineprint {
		margin: 1rem 2rem 0px;
		font-size: 0.75rem;
	}

	.copyright {
		margin-bottom: 0.5rem;
	}

}

.neighborhoods-list,
.venue-types-list {

	margin: 0px;
	padding-left: 0px;

	&,
	ul {
		list-style-type: none;
	}

	li:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	ul {
		margin-top: 0.5rem;
		padding-left: 1rem;
	}

}

.neighborhoods-index,
.venuetypes-index {

	.neighborhoods-list,
	.venue-types-list {
		margin-bottom: 1rem;
	}

}

.lists-index {

	table {
		margin-bottom: 1rem;
	}

}

.registrations-new,
.registrations-edit {

	form .user-avatar {
		display: block;
		margin: 0px auto 1rem;
		max-width: 150px;
	}

}

.activity-list {

	list-style-type: none;
	margin: 0px;
	padding: 0px;
	line-height: 1.5;

	li {

		position: relative;
		padding: 0.75rem 0.25rem 0.75rem 1.25rem;

		.icon {
			position: absolute;
			top: 1rem;
			left: 0px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $grey-trans;
		}

		&.private {
			background: $grey-trans;
		}

	}

	.activity-comment {
		margin: 0.5rem 0px 0px;
		font-style: italic;
	}

	.activity-date {
		float: right;
		font-size: 0.75em;
	}

}

aside {

	.welcome-index & {

		@media screen and (min-width: $pure-grid-lg) {
			margin-left: 2rem;
		}

	}

	.users-show & {

		@media screen and (min-width: $pure-grid-lg) {
			margin-right: 2rem;
		}

	}

}

.search-input-form {

	position: relative;
	margin-bottom: 1rem;

	input[type="search"] {
		display: block;
		padding: 0.9375rem 3rem 0.9375rem 1.5rem;
		margin: 0px;
		width: 100%;
	}

	button[type="submit"] {

		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0px;
		margin: 0px;
		padding: 0.5rem 1rem;
		color: $black;
		background: none;
		border: 0px;
		outline: 0px;

		&:hover {

			svg {

				circle,
				line {
					stroke: $grey;
				}

			}
		}

		svg {

			circle,
			line {
				stroke: $black;
				transition: all 300ms;
			}

		}

	}

}

.comments-list {

	list-style-type: none;
	margin: 0px;
	padding: 0px;

	li {

		position: relative;
		padding-right: 1.5rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
			border-bottom: 1px solid transparentize($grey, 0.8);
		}

		[data-method="delete"] {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
		}

	}

}

.venues-show {

	.totry-btn {
		@extend %btn-sm;
		margin-bottom: 1rem;
	}

	.add-new-menu-item-btn {
		@extend %btn-sm;
	}

	@media screen and (min-width: $pure-grid-breakpoint) {

		h1 {
			display: inline-block;
			vertical-align: middle;
		}

		.totry-btn {
			margin-left: 0.5rem;
			margin-bottom: 0px;
		}

		.map {
			min-height: 150px;
		}

	}

	.venue-info-block {

		p {
			margin-top: 0px;
		}

	}

	address {
		margin-bottom: 1rem;
		font-style: normal;
	}

	.your-rating,
	.our-rating {

		margin-bottom: 1rem;

		.icon-star:hover {
			cursor: pointer;
		}

	}

	.extras-list {

		list-style-type: none;
		margin: 1rem 0px 0px;
		padding: 0px;
		columns: 2;

		@media screen and (min-width: $pure-grid-breakpoint) {
			margin-top: 0px;
			margin-bottom: 1rem;
		}

		li {

			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}

		}

	}

	.percent-liked {
		float: right;
		margin-right: 1rem;
		font-size: 0.75rem;
		line-height: 1.5rem;
	}

	.comment-user-info {
		margin-bottom: 1rem;
	}

}

.user-list {

	list-style-type: none;
	margin: 0px;
	padding: 0px;

	li {
		margin-bottom: 2rem;
	}

	img {
		margin-right: 1rem;
	}

	.user-meta {
		padding-left: 1rem;
	}

	.user-name {
		display: block;
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: bold;
	}

}

.users-show {

	.user-name-and-photo {

		text-align: center;

		img {
			margin-right: 0px;
		}

		h1 {

			small {
				display: block;
			}

		}

		@media screen and (min-width: $pure-grid-sm) {

			text-align: left;

			img {
				margin-right: 0.2em;
			}

			h1 {
				display: inline-block;
				vertical-align: middle;
			}

		}

	}

	.user-count-block {

		margin-top: 1rem;
		text-align: center;

		.user-count-number {

			font-size: 1.5rem;
			font-weight: bold;

			@media screen and (min-width: $pure-grid-sm) {
				font-size: 3rem;
			}

		}

		.user-count-title {
			margin-bottom: 1rem;
			font-size: 0.75rem;
		}

	}

	aside {

		.btn {
			margin-bottom: 0.5rem;
		}

	}

}

.cols2 {

	@media screen and (min-width: $pure-grid-sm) {
		columns: 2;
	}

}

.cols3 {

	@media screen and (min-width: $pure-grid-sm) {
		columns: 3;
	}

}

.cols4 {

	columns: 2;

	@media screen and (min-width: $pure-grid-sm) {
		columns: 4;
	}

}

.like-dislike {

	float: right;

	.input-group-addon {

		display: inline-block;
		padding: 0.25rem;
		color: $grey;
		border: 0px;

		&.selected {

			color: $white;

			&.liked {
			}

			&.disliked {
			}

		}

	}

}

.find-neighborhood-by-street {

	.icon-refresh {

		display: none;

		&.spin {
			display: inline;
			animation: spin 400ms infinite linear;
		}

	}

}
