$black: #000000;
$white: #ffffff;
$grey: #808080;
$turqoise: #009999;
$red: #e20048;
$orange: #ffd040;
$green: #5cb85c;

$disabled: rgba(0,0,0,0.3);

$margin: 20px;

$width-lg: 1200px;
$width-md: 992px;
$width-sm: 768px;

$font-main: 'proxima-nova', sans-serif;

@mixin custom-bootstrap-btn($name: 'default', $background-color: #000000, $color: null) {

  .btn-#{$name} {

    @if $color != null { color: $color; }
    background-color: $background-color;
    border-color: darken($background-color, 6%);

    &:hover,
    &:focus,
    &:active {
      @if $color != null { color: $color; }
      background-color: darken($background-color, 10%);
      border-color: darken($background-color, 12%);
    }

    &:active {
      background-color: lighten($background-color, 10%);
    }

  }

}
