$black: #000000;
$white: #ffffff;
$grey: #808080;
$grey-trans: transparentize($grey, 0.5);
$blue: #12355b;
$turqoise: #0d8383;
$red: #e20048;
$yellow: #ffd040;
$orange: #e48e48;
$green: #5cb85c;

$font-size-base: 16px;
$font-size-base-rem: 1rem;

$pure-grid-sm: 35.5rem;
$pure-grid-md: 48rem;
$pure-grid-lg: 64rem;
$pure-grid-xl: 80rem;

$pure-grid-sm-px: 568px;
$pure-grid-md-px: 768px;
$pure-grid-lg-px: 1024px;
$pure-grid-xl-px: 1280px;

$pure-grid-breakpoint: $pure-grid-md;

$border-radius: 0.25rem;

$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
