<% provide(:title, "Neighborhoods") %>
<section id="neighborhoods-all" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Neighborhoods</h1>
				<ul class="neighborhoods-list cols2">
					<% @neighborhoods.each do |neighborhood| %>
					<li><%= link_to neighborhood_path(neighborhood), title: neighborhood.name do %><%= neighborhood.name %><% end %></li>
					<% end %>
				</ul>
				<hr>
				<%= link_to new_neighborhood_path, :class => 'btn btn-success' do %><i class="fa fa-plus left"></i>New Neighborhood<% end %>
			</div>
		</div>
	</div>
</section>
