<section id="neighborhoods-all">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Neighborhoods</h1>
				<ul class="neighborhoods-list cols2">
					<% @neighborhoods.each do |neighborhood| %>
					<li><%= link_to neighborhood_path(neighborhood) do %><%= neighborhood.name %><% end %></li>
					<% end %>
				</ul>
				<hr>
				<p><%= link_to 'New Neighborhood', new_neighborhood_path %></p>
			</div>
		</div>
	</div>
</section>