<section id="neighborhood-new" class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>New Neighborhood</h1>
				<%= render 'form' %>
				<%= link_to 'Back', neighborhoods_path %>
			</div>
		</div>
	</div>
</section>
