@import "partials/mixins";
@import "bootstrap-mods";

/* Main Style */

$turqoise: #009999;
$red: #e20048;
$orange: #ffd040;

body {
	background: $turqoise;
}

header {
	background: $red;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 15px 0px;
	font-family: 'brandon-grotesque', sans-serif;
}

h1 {
	margin-top: 0px;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.cols2,
ol.cols2 {
	@include columns(2);
}

.spread {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.currency {
	letter-spacing: 1px;
}

.pad {
	padding: 2em 0px;
}

.input-huge,
.btn-huge {
	height: 64px;
	padding: 16px 26px;
	font-size: 24px;
}

p.lead.halfbottom {
	margin-bottom: 10px;
}

hr.halfbottom {
	margin: 10px 0px;
}

.navbar-default .navbar-brand {
	float: none;
	display: inline-block;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-right .user-avatar-thumb {
	margin-top: -10px;
	margin-bottom: -10px;
}

section {
	color: #000000;
	background: #ffffff;
	padding: 1em 0px;
}

img.user-avatar-thumb {
	vertical-align: middle;
	max-height: 28px;
	margin-right: 12px;
	@include image-circle();
}

nav.navbar {
	margin: 0px;
	background: none;
	border: none;
	border-radius: 0px;
}

.navbar-toggle {
	margin-right: 0px;
	border: 0px;
	@include border-radius(0px);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

footer #footer-logo {
	max-width: 100px;
}

#footer-nav {
	margin-bottom: 1em;
}

#footer-nav a {
	color: #ffffff;
}

#footer-nav ul li {
	display: inline;
}

#footer-nav ul li:after {
	content: '\2022';
	margin: 0px 0.5em;
}

#footer-nav ul li:last-child:after {
	content: '';
	margin: 0px;
}

#client-edit .clientimage {
	margin-top: 15px;
}

#monthlyRevenueChart {
	width: 100%;
	min-height: 300px;
}

.chart a.canvasjs-chart-credit {
	display: none !important;
}

.doicons i {
	vertical-align: middle;
}

a.sortablecol i.fa {
	display: none;
}

a.sortablecol.current.desc i.fa.fa-caret-down {
	display: inline-block;
}

a.sortablecol.current.asc i.fa.fa-caret-up {
	display: inline-block;
}

.comment .well p:last-child {
	margin: 0px;
}

.comment button.close {
	font-size: 14px;
	height: 20px;
}

form.new_comment textarea {
	resize: none;
	min-height: 50px;
	@include border-radius-bottom-left(0px);
	@include border-radius-bottom-right(0px);
	border-bottom: 0px;
}

form.new_comment button {
	@include border-radius-top-left(0px);
	@include border-radius-top-right(0px);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	
	body {
	}
	
}