@import "bootstrap";
@import "font-awesome";
@import "partials/mixins";
@import "partials/colors";
@import "partials/sizing";
@import "partials/common";
@import "partials/bootstrap-mods";


body {
	background: $turqoise;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova', sans-serif;
}

header {
	background: $red;
}

header #logo {
	max-height: 28px;
	margin-right: 0.75em;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 15px 0px;
}

h1 {
	margin-top: 0px;
}

.map {

	width: 100%;
	min-height: 200px;

	&#map-overall {
		height: 600px;
	}

	.map-infowindow {
		min-width: 200px;
		font-weight: bold;
		text-align: center;
	}

}

.green {
	color: $green;
}

a.red {
	color: $red;
}

img {
	max-width: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.cols2,
ol.cols2 {
	columns: 2;
}

ul.cols4,
ol.cols4 {
	columns: 4;
}

.spread {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}

.margin-down {
	margin-bottom: 1em;
}

.currency {
	letter-spacing: 1px;
}

.pad {
	padding: 2em 0px;
}

.input-huge,
.btn-huge {
	height: 64px;
	padding: 16px 26px;
	font-size: 24px;
}

p.lead.halfbottom {
	margin-bottom: 10px;
}

hr.halfbottom {
	margin: 10px 0px;
}

.navbar-default .navbar-brand {
	float: none;
	display: inline-block;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: $white;
}

.navbar-default .navbar-brand:hover {
	color: $white;
}

.navbar-right .user-avatar-thumb {
	margin-top: -10px;
	margin-bottom: -10px;
}

section {
	color: $black;
	background: $white;
	padding: 1em 0px;
}

img.user-avatar {
	vertical-align: middle;

	@include image-circle();
}

img.user-avatar-med {
	font-size: 80px;
	max-height: 1em;
	margin-right: 0.2em;
}

img.user-avatar-thumb {
	font-size: 28px;
	max-height: 1em;
	margin-right: 0.3em;
}

nav.navbar {
	margin: 0px;
	background: none;
	border: none;
	border-radius: 0px;
}

.navbar-toggle {
	margin-right: 0px;
	border: 0px;
	border-radius: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: $white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: $red;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}

form#new_try,
from#edit-try {
	display: inline;
}

footer #footer-logo {
	max-width: 100px;
}

#footer-nav {
	margin-bottom: 1em;
}

#footer-nav a {
	color: $white;
}

#footer-nav ul li {
	display: inline;
}

#footer-nav ul li:after {
	content: '\2022';
	margin: 0px 0.5em;
}

#footer-nav ul li:last-child:after {
	content: '';
	margin: 0px;
}

#client-edit .clientimage {
	margin-top: 15px;
}

ul.comments-list li,
ul.activity-list li {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #eeeeee;
}

ul.nolast li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}

ul.user-list {

	li:not(:last-child) {
		margin-bottom: 0.5em;
	}
	
}

.comment .comment-body {
	margin-top: 1em;
}

.doicons i {
	vertical-align: middle;
}

a.sortablecol i.fa {
	display: none;
}

a.sortablecol.current.desc i.fa.fa-caret-down {
	display: inline-block;
}

a.sortablecol.current.asc i.fa.fa-caret-up {
	display: inline-block;
}

#myrating {
	font-size: 1.5em;
}

#myrating i.fa:hover {
	cursor: pointer;
}

#venue-info-main address {
	margin-bottom: 0px;
}

#venue-info-checks p {
	margin-bottom: 0px;
}

.comment .well p:last-child {
	margin: 0px;
}

.comment button.close {
	font-size: 14px;
	height: 20px;
}

form.new_comment textarea {
	resize: none;
	min-height: 50px;
	border-radius-bottom-left: 0px;
	border-radius-bottom-right: 0px;
	border-bottom: 0px;
}

form.new_comment button {
	border-radius-top-left: 0px;
	border-radius-top-right: 0px;
}

#user-nameandphoto {
	margin-bottom: 1em;
}

#user-show #user-nameandphoto h1,
#user-show #user-nameandphoto img {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0px;
}

#user-count-block .user-count-number {
	font-size: 6em;
	line-height: 1;
	font-weight: bold;
}

#user-count-block .user-count-title {
	margin-bottom: 2em;
}

.radiogroup label {
	margin-right: 1em;
}

.radiogroup label:last-child {
	margin-right: 0px;
}

.activity-comment {
	margin: 0.5em 0px;
	font-style: italic;
}

#footer-fineprint {
	margin: 0px 3em;
	color: $white;
	font-size: 0.75em;
}

#footer-fineprint a,
#footer-fineprint a:visited {
	color: $white;
	text-decoration: underline;
}

@media screen and (min-width: 768px) {

	.navbar-nav > li > a {
		padding-top: 18px;
		padding-bottom: 18px;
	}

}

@media screen and (max-width: 767px) {

	header #logo {
		max-height: 20px;
		margin-top: -4px;
	}

	ul.cols2,
	ol.cols2 {
		columns: 1;
	}

	ul.cols4,
	ol.cols4 {
		columns: 2;
	}

	h1, h2 {
		text-align: center;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 22px;
	}

	h1 small {
		display: block;
		margin-top: 0.5em;
	}

	.margin-down-xs {
		margin-bottom: 1em;
	}

	section .btn {
		display: block;
		width: 100%;
	}

	section .btn {

	}

	#user-show #user-nameandphoto img {
		font-size: 50px;
	}

	#user-nameandphoto h1 {
		text-align: left;
	}

	#user-nameandphoto h1 small {
		margin-top: 6px;;
	}

	#user-count-block .user-count-number {
		font-size: 2em;
		line-height: normal;
	}

	#user-count-block .user-count-title {
		margin-bottom: 1em;
	}

}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

	body {
	}

}
