<footer class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav id="footer-nav" class="text-center">
					<ul><li><%= link_to 'Venues', venues_path, title: 'Venues' %></li><li><%= link_to 'Neighborhoods', neighborhoods_path, title: 'Neighborhoods' %></li><li><%= link_to 'Types', venuetypes_path, title: 'Types' %></li></ul>
				</nav>
			</div>
		</div>
	</div>
</header>