<footer class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav id="footer-nav" class="text-center">
					<ul><li><%= link_to 'Venues', venues_path, title: 'Venues' %></li><li><%= link_to 'Neighborhoods', neighborhoods_path, title: 'Neighborhoods' %></li><li><%= link_to 'Types', venuetypes_path, title: 'Types' %></li><li><%= link_to 'Users', users_path, title: 'Users' %></li></ul>
				</nav>
				<div id="footer-fineprint" class="text-center">Hot Dog logo designed by <a href="http://thenounproject.com/CrocodileJock">Andrew Cameron</a> from the <a href="http://thenounproject.com">Noun Project</a>.</div>
			</div>
		</div>
	</div>
</header>
