<header class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 text-center">
				<h2>Chicago Food</h2>
				<% if user_signed_in? %>
				Hello, <%= current_user.email %><!--<%= link_to "Sign out", destroy_user_session_path %>--> <a href="/users/edit">Edit</a>
				<% else %>
				<%= link_to "Sign in", new_user_session_path %><!--<%= link_to "Sign up", new_user_registration_path %>-->
				<% end %>
			</div>
		</div>
	</div>
</header>